@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

* {
  margin: 8;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.login-page {
  font-family: 'Dela Gothic One', sans-serif;
  background-color: #344e35;
  color: white;
  height: 100%;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: transparent;
  gap: 1rem;
  position: relative;
  z-index: 2;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo {
  width: 70px;
  height: auto;
}

.header-title {
  font-size: 2.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.specs {
  color: #f47c3c;
  margin-right: 0.5rem;
}

.nexus {
  color: #c0c0c0;
}

.acronym {
  list-style: none;
  font-size: 3.3rem;
  line-height: 4rem;
  font-weight: bold;
}

.acronym li span {
  color: #f47c3c;
  font-weight: bold;
  margin-right: 0.5rem;
}

.seals {
  margin-top: 7rem;
}

.seals img {
  width: 75px;
  margin-right: 10px;
}

.seal-image {
  width: auto;
  height: 90%;
  object-fit: contain;
  display: none;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(120vh - 120px);
  overflow: hidden;
  padding: 1rem 2rem;
}

.left-section,
.right-section {
  flex: 1;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-section {
  color: white;
  background-color: #344e35;
}

.branding {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.login-box {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  max-height: 600px;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-title {
  font-family: 'Dela Gothic One', cursive;
  font-size: 2.1rem;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 35px;
  color: #333;
}

.login-form input {
  width: 120%;
  padding: 15px;
  margin-bottom: 25px;
  margin-left: -30px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  transition: border-color 0.2s;
}

.login-form button {
  width: 150px;
  padding: 13px 20px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: #253F21; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(66, 66, 66, 0.2); 
  margin-bottom: 15px;
  margin-top: 10px;
}

  .login-form button:hover {
  background-color: #1c361a;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
  }

  .left-section {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1rem;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .right-section {
    justify-content: center; 
    align-items: center;     
    padding: 1rem;
    height: 50%;
    display: flex;           
  }

.seal-image {
  display: block;
  width: auto;
  height: 90%;
  object-fit: contain;
}

 .login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 370px;
  padding: 2rem;
  box-sizing: border-box;
}

  .welcome-title {
    font-size: 1.7rem;
    margin-top: -5px ;
    margin-bottom: 25px;
  }

  .login-form input {
    font-size: 1.2rem;
  }

  .login-form button {
    width: 60%;
    padding: 12px;
    font-size: 1.2rem;
  }
  .header-content {
  display: none;
}

.header-logo {
  display: none;
}

.specs {
  display: none;
}

.nexus {
  display: none;
}

.acronym {
  display: none;
}

.seals img {
  display: none;
}

.seal-image {
  display: none;
}
}

